<div class=" w3-container ">
  <div class="w3-card-4 w3-padding-32 w3-light-grey w3-center" style="max-width: 500px; margin:auto;">
    <nav class="w3-bar w3-light-grey">
      <a routerLink="/list" routerLinkActive="w3-blue w3-text-white" class="w3-bar-item w3-button"
         [routerLinkActiveOptions]="{ exact: true }">
        List Contacts
      </a>
      <a routerLink="/add" routerLinkActive="w3-blue w3-text-white" class="w3-bar-item w3-button"
         [routerLinkActiveOptions]="{ exact: true }">
        Add Contact
      </a>
    </nav>

    <div class="w3-margin">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


